body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face{
  font-family: "FuenteOP";
  src: local("FuenteOP"),
  url(./fonts/RaizenAnthem.ttf) format("truetype")
}
@font-face{
  font-family: "Textos";
  src: local("Textos"),
  url(./fonts/Rasputin.otf) format("Opentype")
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
